---
// src/components/ProjectCard.astro
const { project } = Astro.props;
---

<div class="component__project-card">
    <img 
        src={project.data.img} 
        alt={project.data.img_alt} 
        class="component__project-card--image"
    />
    <div class="component__project-card--content">
        <h3 class="component__project-card--title">{project.data.title}</h3>
        <p class="component__project-card--featuring">{project.data.partners}</p>
        <p class="component__project-card--description">{project.data.description}</p>
        
        {project.data.externalLinkUrl && (
            <a 
                href={project.data.externalLinkUrl} 
                class="component__project-card--link" 
                target="_blank"
                rel="noopener noreferrer"
            >
                {project.data.externalLinkTag}
            </a>
        )}
    </div>
</div>