---
const { class: className, content, type } = Astro.props;
---

<div class={`component__project-card ${className}`}>
    <a class="component__a--decoration-none" href={`/${type}/${content.id}`}>
        <img 
            src={content.data.img} 
            alt={content.data.img_alt} 
            class="component__project-card--image"
        />
        <div class="component__project-card--content">
            <h3 class="component__project-card--title">{content.data.title}</h3>
            <p class="component__project-card--featuring">{content.data.partners}</p>
            <p class="component__project-card--description">{content.data.description}</p>
            
            {content.data.externalLinkUrl && (
                <a 
                    href={content.data.externalLinkUrl} 
                    class="component__project-card--link" 
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    {content.data.externalLinkTag}
                </a>
            )}
        </div>
    </a>
</div>